@import '../../global/variables.scss';

.aion-pay {
  font-family: $font-family;
  font-size: small;
}
button {
  cursor: var(--pay-button-cursor, pointer);
}

#pay {
  cursor: var(--pay-button-cursor, pointer);
}

.aion-image {
  width: 40px;
  height: 40px;
}

.aion-heading {
  display: inline-block;
  h2 {
    float: right;
    text-align: center;
  }
}

.form {
  padding-right: 10px;
  .field {
    margin-right: 10px;
  }
}

.color-white {
  color: #ffffff;
}

.error-section {
  padding-bottom: 10px;
}


.pay-button {
  display: inline-block;
  text-align: center;
}

.pay-button {
  background-color:  var(--pay-button-color, #00d1b2);
  .img-valign {
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

  .pay-button-text {
    font-weight: var(--pay-button-font-weight, normal);
    font-style: var(--pay-button-font-style, normal);
    font-family: var(--pay-button-font-family, $font-family);
  }
}

.aion-unlock {
   display: inline;
}

.error {
  padding-left: 20px;
  padding-right: 20px;
}

.scrolling-container {
  height: 400px;
}

.from-balance {
  font-weight: bold;
  color: #304FFE;
}

//.confirm-dialog {
//  .o-grid {
//    margin-top: 10px;
//  }
//
//  .balance {
//    font-weight: bold;
//  }
//}

//.keystore-input {
//  .o-field {
//    margin-right: 20px;
//  }
//
//  .c-field {
//    border-top-left-radius: 4px !important;
//    border-bottom-left-radius: 4px !important;
//    border-left-width: 1px !important;
//  }
//
//  .c-progress {
//    margin-top: 5px;
//  }
//}


/** spinner style **/
.spinner,
.spinner:before,
.spinner:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.spinner {
  color: #3057ff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.spinner:before,
.spinner:after {
  content: '';
  position: absolute;
  top: 0;
}
.spinner:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
/** spinner style ends **/
