@import '../../global/variables.scss';

button {
  cursor: var(--pay-button-cursor, pointer);
}

.aion-image {
  width: 40px;
  height: 40px;
}

.aion-heading {
  display: inline-block;
  h2 {
    float: right;
    text-align: center;
  }
}

.o-form-element {
  padding-right: 10px;
  .c-field {
    margin-right: 10px;
  }
}


.pay-button {
  display: inline-block;
  //background-color: #3700B3;
  text-align: center;
}

.pay-button {
  background-color:  var(--pay-button-color, #BB86FC);
  .img-valign {
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }

  .pay-button-text {
    font-weight: var(--pay-button-font-weight, bolder);
    font-style: var(--pay-button-font-style, italic);
    font-family: var(--pay-button-font-family, "Courier New");
  }
}

.aion-unlock {
   display: inline;
}

.error {
  padding-left: 20px;
  padding-right: 20px;
}

.scrolling-container {
  height: 400px;
}

.from-balance {
  font-weight: bold;
  color: #304FFE;
}

.confirm-dialog {
  .o-grid {
    margin-top: 10px;
  }

  .balance {
    font-weight: bold;
  }
}

.keystore-input {
  .o-field {
    margin-right: 20px;
  }

  .c-field {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-left-width: 1px !important;
  }

  .c-progress {
    margin-top: 5px;
  }
}
