@import url("https://unpkg.com/blaze-css@x.x.x/dist/blaze.min.css");
@import url("https://use.fontawesome.com/releases/v5.4.2/css/all.css");
// Font Family
$font-family: 'Open Sans', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Basic Colors
$white: #ffffff;
$black: #000000;

// Brand Colors
$blue-steel: #4571c4;
$blue-steel-dark: #315db0;

$brand-main: #3F51B5;
