.aion-blocks {
  font-family: $font-family;
  font-size: small;
  display: inline-block;

  .transactions {
    margin-top: 2em;

    .columns {

      font-size: smaller;
    }

    .transaction:not(:last-child) {
      border-bottom: solid;
      border-width: 0.15px;
      border-color: #b5b5b5;
      margin-bottom: 2em;
    }
  }

  .columns:not(:last-child) {
    margin-bottom: calc(.25rem - 0.5rem);
  }

  a {
    text-decoration: none !important;
    color: darkolivegreen;
  }
}




